@font-face {
  font-family: "Roboto-Medium";
  src: url("../../Fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../../Fonts/Roboto/Roboto-Italic.ttf");
}